body {
    background-color: #d2d2d2;
}

mark {
    color: blue;
    background-color: chocolate;
}

.texto-destaque-fig {
    font-size: xx-large;
}

.secao-destaque-html {
    position: relative;
    margin: 0 auto;
    width: 490px;
    background-color: #000;
    color: #fff;
}

.container-full {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(169, 169, 169, 0.123);

}

.container {
    position: relative;
    max-width: 990px;
    margin: 0 auto;
}

.container1 {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: double 3px rgba(105, 105, 105, 0.404);
    border-radius: 10px;
}

h4,
h5,
h6 {
    text-decoration: underline;
    padding: 5px;
    font-weight: bold;
    color: blue;
}

p {
    margin-left: 15px;
}

iframe {
    max-width: 80%;
}

.text-html {
    color: chartreuse;
    margin-left: 25px;
    text-align: left;
    padding: 0;
}

.texto-destaque-tachado {
    text-decoration: line-through;
    color: #fff;
    background-color: #4682B4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto-destaque-bg {
    font-size: 42px;
    color: #4682B4;
}

.texto-destaque-min {
    font-size: 14px;
    color: #800080;
}

.texto-destaque-red {
    font-weight: bold;
    font-style: italic;
    color: rgb(238, 20, 4)
}

.texto-destaque-black {
    font-weight: bold;
    color: rgb(3, 7, 243);
}

.texto-destaque-grifado {
    font-style: italic;
    font-size: 18px;
    text-decoration: underline;
    color: rgb(148, 104, 104);
}

.texto-destaque-resposta {
    color: rgb(233, 238, 231);
    background-color: #046804;
    font-weight: bold;
}

.texto-destaque-negrito {
    color: #fff;
    font-weight: bolder;
    background-color: #726f6f;
}

blockquote {
    width: 590px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: 0;
    padding: 5px;
    border-bottom: double 3px rgb(97, 94, 94);
    border-radius: 10px;
    background-color: #808080;
}

ol,
ul,
dt,
dd {
    font-style: italic;
    font-size: 16px;
    color: darkblue;
    margin-left: 10px;
}

img {
    border-radius: 10px;
}

del {
    color: #DC143C;
    font-style: italic;
}

table,
th,
td {
    margin: 0 auto;
    position: relative;
    border: solid 2px #000;
    border-collapse: collapse;
}

td {
    padding-left: 5px;
    padding-right: 25px;

}

th {
    text-align: center;
    background-color: blue;
    color: #fff;
}

/*odd aplicado a todos os elementos impares*/
table tr:nth-child(odd) {
    background-color: #808080;
}

/*even aplicado a todos os elementos pares*/
table tr:nth-child(even) {
    background-color: #C0C0C0;
}

/*footer aplicado para deixar configuração global do rodapé*/
footer {
    position: relative;
    max-width: 990px;
    background-color: #9c97978e;
    border-radius: 10px;
    text-align: center;
    color: blue;
    bottom: 0px;
    margin: 0 auto;
}