body {
    background-color: #d2d2d2;
}

.container-full {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(169, 169, 169, 0.123);

}

.container {
    position: relative;
    max-width: 990px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: double 3px rgba(105, 105, 105, 0.404);
    border-radius: 10px;
}

h4,
h5,
h6 {
    text-decoration: underline;
    padding: 5px;
    font-weight: bold;
    color: blue;
}

p {
    color: black;
}

iframe {
    max-width: 80%;
}

.texto-destaque-red {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: rgb(238, 20, 4)
}

.texto-destaque-black {
    font-weight: bold;
    color: rgb(3, 7, 243);
}

.texto-destaque-grifado {
    font-style: italic;
    font-size: 18px;
    text-decoration: underline;
    color: rgb(148, 104, 104);
}

.texto-destaque-resposta{
    color: rgb(233, 238, 231);
    background-color: #046804;
    font-weight: bold;
}

blockquote {
    width: 990px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: 0;
    padding: 5px;
    border-bottom: double 3px rgb(97, 94, 94);
    border-radius: 10px;
    background-color: #808080;
}

ol, ul, dt, dd{
    font-style: italic;
    font-size: 16px;
    color: darkblue;
}

img{
    border-radius: 10px;
}